

@import './utils/margins';
@import './utils/variables';


@import './components/buttons/button';
@import './components/card/card';
@import './components/header/header';
@import './components/forms/addProduct';

body{
    background: #F5F5F5;
    font-size: 14px;
}