.mb--0 {
  margin-bottom: 0px !important; }

.mt--0 {
  margin-top: 0px !important; }

.mr--0 {
  margin-right: 0px !important; }

.mb--5 {
  margin-bottom: 5px !important; }

.mt--5 {
  margin-top: 5px !important; }

.mr--5 {
  margin-right: 5px !important; }

.mb--8 {
  margin-bottom: 8px !important; }

.mt--8 {
  margin-top: 8px !important; }

.mr--8 {
  margin-right: 8px !important; }

.mb--10 {
  margin-bottom: 10px !important; }

.mt--10 {
  margin-top: 10px !important; }

.mr--10 {
  margin-right: 10px !important; }

.mb--15 {
  margin-bottom: 15px !important; }

.mt--15 {
  margin-top: 15px !important; }

.mr--15 {
  margin-right: 15px !important; }

.mb--18 {
  margin-bottom: 18px !important; }

.mt--18 {
  margin-top: 18px !important; }

.mr--18 {
  margin-right: 18px !important; }

.mb--20 {
  margin-bottom: 20px !important; }

.mt--20 {
  margin-top: 20px !important; }

.mr--20 {
  margin-right: 20px !important; }

.mb--27 {
  margin-bottom: 27px !important; }

.mt--27 {
  margin-top: 27px !important; }

.mr--27 {
  margin-right: 27px !important; }

.mb--30 {
  margin-bottom: 30px !important; }

.mt--30 {
  margin-top: 30px !important; }

.mr--30 {
  margin-right: 30px !important; }

.mb--50 {
  margin-bottom: 50px !important; }

.mt--50 {
  margin-top: 50px !important; }

.mr--50 {
  margin-right: 50px !important; }

.mb--60 {
  margin-bottom: 60px !important; }

.mt--60 {
  margin-top: 60px !important; }

.mr--60 {
  margin-right: 60px !important; }

.btn {
  font-size: 16px; }

.btn-secondary {
  background: #FD3768;
  border-color: #FD3768; }
  .btn-secondary:hover {
    background: #FD3768;
    border-color: #FD3768; }

.btn-danger {
  background: white;
  border-color: #EAEAEA;
  color: #FD3768; }
  .btn-danger:hover {
    background: white;
    border-color: #EAEAEA;
    color: #FD3768; }

.card {
  border: 1px solid #EAEAEA; }

.test-header {
  background: #2E3458;
  color: white;
  padding: 10px 0;
  margin: 0 0 40px 0; }
  .test-header h1 {
    font-size: 30px; }

h2 {
  font-size: 19px;
  color: #2E3458;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 10px; }

body {
  background: #F5F5F5;
  font-size: 14px; }

/*# sourceMappingURL=main.css.map */
