.btn{
    //font-weight: bold;
    font-size: 16px;
}
.btn-secondary{
    background: $secondary-color;
    border-color: $secondary-color;
    &:hover{
        background: $secondary-color;
        border-color: $secondary-color;
    }
}


.btn-danger{
    background: white;
    border-color: $border-color;
    color: $secondary-color;
    &:hover{
        background: white;
        border-color: $border-color;
        color: $secondary-color;
    }
}