@each $number in 0, 5, 8, 10, 15, 18, 20, 27, 30, 50, 60 {
    .mb--#{$number}{
    	margin-bottom: #{$number}px !important;
    }
    .mt--#{$number} {
    	margin-top: #{$number}px !important;
    }

    .mr--#{$number} {
    	margin-right: #{$number}px !important;
    }
}