    h2{
        font-size: 19px;
        color: $primary-color;
        text-transform: uppercase;
        margin-bottom: 20px;
        border-bottom: 1px solid $border-color;
        padding-bottom: 10px;
    }
